


/* ----------------------- */
/* RESET ----------------- */
/* ----------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
}



/* ----------------------- */
/* VARIABLES ------------- */
/* ----------------------- */

:root {
    --thin: '100';
    --extralight: '200';
    --light: '300';
    --regular: '400';
    --medium: '500';
    --semibold: '600';
    --bold: '700';
    --extrabold: '800';
}


/* ----------------------- */
/* TEST ------------------ */
/* ----------------------- */

.test {
    width: 100%;
    height: 50vh;

    display: grid;
}

.test>* {
    grid-area: 1/1;
}