/* ----------------------- */
/* RESET ----------------- */
/* ----------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
}



/* ----------------------- */
/* VARIABLES ------------- */
/* ----------------------- */

:root {
    --thin: '100';
    --extralight: '200';
    --light: '300';
    --regular: '400';
    --medium: '500';
    --semibold: '600';
    --bold: '700';
    --extrabold: '800';
}


/* ----------------------- */
/* TYPOGRAPHY ------------ */
/* ----------------------- */

body {
    /* color: black !important; */
}

a{
    color: #000;
    text-decoration: none;
}


/* sx={{ px: { xs: 5, sm: 5, md: 15 }, py: { xs: 5, sm: 5, md: 10 } }}> */

.sectionPadding {
    padding-inline: calc(3 * 10px);
    padding-block: calc(3 * 10px);
}

/* sm */
@media (min-width: 600px) {}

/* lg */
@media (min-width: 1200px) {
    .sectionPadding {
        padding-inline: calc(10 * 10px);
        padding-block: calc(12 * 10px);
    }
}

.bannerPadding {
    padding-inline: calc(5 * 10px);
}

/* sm */
@media (min-width: 600px) {
    .bannerPadding {
        padding-inline: calc(8 * 10px);
    }
}

/* lg */
@media (min-width: 1200px) {
    .bannerPadding {
        padding-inline: calc(10 * 10px);
    }
}




.glassmorphism {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.6) !important;
    border-radius: 15px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
/* ----------------------- */
/* COLLECTION PAGE ------------ */
/* ----------------------- */
.css-nzpbv3-MuiPaper-root-MuiDrawer-paper{
    top: auto !important;
}

.css-nen11g-MuiStack-root{
    width: 100%;
}

.noNavRoot{
    /* background-color: #A4B0FF; */
    /* height: 100vh; */
}

.MuiStepConnector-line{
    min-height: 100% !important;
}

.chip-minimal {
    border: none !important;
}

#country-select * {
    font-size: 14px !important;
}

.signup-cta-section .textbox {
    margin-top: 0;
}




/* mobile */

.tablet {
    display: none;
}
.desktop {
    display: none;
}
.mobile {
    display: block;
}

/* tablet */
@media (min-width: 900px) {
    .mobile {
        display: none;
    }
    .tablet {
        display: block;
    }
}

/* desktop */
@media (min-width: 1200px) {
    .mobile {
        display: none;
    }
    .tablet {
        display: none;
    }
    .desktop {
        display: block;
    }
}



.profile-section {

}


.profile-section .image-container {
    
}



.MuiDialog-container .MuiPaper-root {
    border-radius: 15px;
    padding: 30px;
}