

/* ----------------------- */
/* BANNER ----------------- */
/* ----------------------- */

section.banner{
    width: 100vw;
    display: grid;
}

section.banner>* {
    grid-area: 1/1;
}


/* CHILDREN */

.banner .text-container {
    color: black;
    width: inherit;
    height: inherit;
}

.banner button {
    width:fit-content;
}


/* VARIANTS */

section.banner[variant='large'] {
    height: 80vh;
}

section.banner[variant='medium'] {
    height: 60vh;
}