

/* ----------------------- */
/* BANNER ----------------- */
/* ----------------------- */

section.banner{
    width: 100vw;
    display: grid;
}

section.banner>* {
    grid-area: 1/1;
}


/* CHILDREN */

.banner .text-container {
    color: black;
    width: inherit;
    height: inherit;
    margin-top: -32px;
    width: 100%;
}
@media (min-width: 600px) {

    .banner .text-container {
        width: 70%;

    }
}

.banner button {
    width:fit-content;
}


/* VARIANTS */

section.banner[variant='large'] {
    height: 100vh;
}

section.banner[variant='medium'] {
    height: 70vh;
}


section.banner[variant='small'] {
    height: 40vh;
}