/* ALL THIS SHOULD BE MOVED TO CUSTOM COMPONENT (STYLED) */


/* CARDS CONTAINER */
.cards-container {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.cards-container .card-container .card,
.cards-container .card-container {
    width: inherit
}

/* CARD CONTAINER */
.card-container {
    text-decoration: none;
    /* cursor: pointer; */
}


/* CARD */
.card {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    /* border: 1px solid red !important; */
    display: grid;
}

.card > * {
grid-area: 1/1
}


/* CARD CHILDREN */
/* IMAGE */
.card .card-content {
    width:inherit
}
.card .card-image-container {
    overflow: hidden;
    display: grid;
    width: inherit;
}

.card .card-image-container>* {
    grid-area: 1/1;
}

.card .card-image-container .MuiCardActions-root {
    height: fit-content;
    justify-self: end;
    z-index: 10 !important;
}

.card img {
    width: fill;
    width: -webkit-fill-available;
    /* max-height: 200px; */
    transform: scale(1);
    transition: .2s ease-in;
    aspect-ratio: 1/1;
    width:inherit;
}

/* CONTENT */
.card-content-container * {
    padding: 0 !important;
    margin-block: 0px !important;
}

.card-content-container .icons-container {
    margin-top: 10px !important;
}


/* INTERACTIONS */
.card-click {
    padding: 0 !important;
}

.card-click > * {
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 9;
}

.card-fav > * {
    z-index: 10
}

